@import url(reset.css);

* {
  font-family: "Roboto";
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

header #top {
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  justify-content: space-between;
  padding: 0.5rem;
}

header #top img {
  height: auto;
  width: auto;
  object-fit: contain;
}

#content {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  margin-left: 30px;
  gap: 16px;
}

#content img {
  height: auto;
  width: auto;
  object-fit: contain;
}
