@import url(reset.css);

* {
  font-family: "Roboto";
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

header #top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

header #top img {
  height: auto;
  width: auto;
  object-fit: contain;
}

#content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 16px;
}

#content figure img {
  width: 850;
}

.video-card {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  text-decoration: none;
}

.sidebar {
  margin-left: 20px;
}

.thumbnail {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.thumbnail-container {
  flex-shrink: 0; /* Essa é a propriedade mágica que impede o esmagamento */
  width: 168px; /* É mais seguro definir a largura fixa aqui no elemento pai */
}

.video-info {
  display: flex;
  flex-direction: column;
}

.video-info h4 {
  font-weight: 600;
  font-size: 14px;
}

.video-info p {
  color: #515151;
  font-weight: 400;
  font-size: 12px;
}
